{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock head %}
{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
<div class="container bg-brown " >
    <h2 class="pt-4">{{ page_title }}</h2>    
    <div class="col">
        <a href="#" class="btn btn-outline-warning my-2">{% trans "Payment" %}</a>
        <a href="#" class="btn btn-outline-warning my-2">{% trans "Recieve" %}</a>
        <a href="#" class="btn btn-outline-warning my-2">{% trans "Bank accounts" %}</a>
        <a href="#" class="btn btn-outline-warning my-2">{% trans "Account level" %}</a>
    </div>

    <div class="row ">
       
    </div>
        
</div>
{% endblock content %}