{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock head %}
{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
<div class="container bg-brown " >
    <h2 class="pt-4">{{ page_title }}</h2>  
      
    {% include "accounting/_accounting_header.html" %}
    <div class="my-1">
      {% if subject %}      
      <a href="{% url 'accounting:transactions_list_subject_bank' subject=subject bank=bank %}{% if search %}?search={{search}}{% endif %}" class="btn btn-sm btn-light py-0">{% trans "All" %}</a>        
      {% else %}
      <a href="{% url 'accounting:transactions_list' %}{% if search %}?search={{search}}{% endif %}" class="btn btn-sm btn-light py-0">{% trans "All" %}</a>        
      {% endif %}
      {% for month in monthes %}
      {% if subject %}      
      <a href="{% url 'accounting:transactions_list_subject_bank' subject=subject bank=bank %}{{ month.link }}{% if search %}&search={{search}}{% endif %}" class="btn btn-sm btn-light py-0">{{ month.name }}</a>        
      {% else %}
      <a href="{% url 'accounting:transactions_list' %}{{ month.link }}{% if search %}&search={{search}}{% endif %}" class="btn btn-sm btn-light py-0">{{ month.name }}</a>        
      {% endif %}
      {% endfor %}
      

      {% if from_date_date %}
        <span class="bg-secondary rounded px-1 ms-3">{{ from_date_date | date }}</span>
      {% endif %}
      {% if to_date_date %}
      <span class="bg-secondary rounded px-1">{{ to_date_date | date }}</span>
      {% endif %}
      {% if subject %}
        <span class="bg-secondary text-warning rounded px-1 ms-3">{% trans "Subject" %}: {{ subject }}</span>
      {% endif %}
      {% if bank %}
        <span class="bg-secondary text-warning rounded px-1 ms-3">{% trans "Bank" %}: {{ bank }}</span>
      {% endif %}
      {% if search %}      
          <a href="{% url 'accounting:transactions_list_subject_bank' subject=subject bank=bank %}{% if from_date_date %}?from-day={{ from_day }}&from-month={{from_month}}&from-year={{from_year}}&to-day={{to_day}}&to-month={{to_month}}&to-year={{to_year}}{% endif %}" class="bg-secondary text-warning rounded px-1 ms-3" style="text-decoration: none;">{% trans "Search" %}: {{ search }} &times;</a>        
      {% endif %}
    
    </div>

    <div class="row ">
       <div class="col">
       
         {% include "accounting/_transactions_list.html" %}
         
       </div>
    </div>
        
</div>
{% endblock content %}