{% extends "_base.html" %}

{% block content %}
<div class="container text-light">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-left align-items-center my-3">                
                {% include "ai/_chat_header.html" %}
            </div>
            
            {% include "ai/_ai_offcanvas.html" %}
            <div>
                <form action="">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="q" id="searchQuery" placeholder="Search" aria-label="Search Query" autofocus>
                        <button type="submit"  class="btn btn-light">Search</button>
                    </div>
                </form>                
                {% if query %}
                <div class="my-2">
                    {{ query }} <a href="{% url 'ai:ai_chats_list' %}" class="ms-3 d-inline btn btn-outline-danger">x</a>
                </div>
                                  
                {% endif %}
            </div>

            <div class="table-responsive">                
                <table class="table table-ight">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Chat</th>
                        <th scope="col">Messages</th>
                        <th scope="col">Date</th>
                    </thead>
                    <tbody>
                        {% for chat in chats %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a class="" href="{% url 'ai:ai_continue_chat' chat.chat_id %}">{{ chat.get_first_message }}</a></td>
                            <td>{{ chat.total_messages }} (u:{{ chat.user_messages }}, a:{{ chat.assistant_messages }}) </td>
                            <td>{{ chat.created }}</td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

           
            
    </div>     
    
</div>
  
{% endblock content %}

{% block script %}
  
{% endblock script %}
