{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load markdown_extras %} 

{% block content %}
<div class="container-fluid text-light">
    <div class="row">
        <div class="col-md-1">
            {% include "ai/chat_header.html" %}
            <table>
                {% for chat in chats %}
                <tr>
                    <td class="border p-2 border-secondary">
                        <a href="{% url 'ai:ai_continue_chat' chat.chat_id %}" >{{ chat.get_first_message }}</a>
                    </td>
                </tr>
                  
                {% endfor %}
            </table>
        </div>
        <div class="col-md-11">
            <div class="">
                {% if chat %}
                <h2>{{ chat.model_name}}</h2>
                <h4>{{ chat.chat_id}}</h4>
                {% endif %}
            </div>

            <div class="">
                {% for message in all_messages %}
                <div class="rounded">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            {% if message.role == 'user' %}
                                Prompt
                            {% else %}
                                Response
                            {% endif %}
                        </div>
                        <div style="flex-grow: 1; margin-left: 10px;">
                            <hr style="border: 0; border-top: 1px solid #fff;">
                        </div>
                    </div>

                    <div>
                        {% if message.role == 'user' %}                            

                        {{ message.content|linebreaksbr|truncatechars:700 }}
                        
                        {% if message.file %}
                        <br>
                        <i class="fas fa-paperclip text-dark"></i> {{ message.get_file_type_display }}: <a href="{{ message.file.url }}" download target="_blank">{{ message.file.name }}</a>
                        {% endif %}                            
                        <br>
                        <p class="gap-1">
                            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse{{ message.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ message.id }}">
                                ...
                            </a>                        
                        </p>
                        <div class="collapse" id="collapse{{ message.id }}">
                            <div class="card card-body text-dark">
                                {{ message.content|linebreaksbr }}
                            </div>
                        </div>

                        {% elif message.role == 'assistant' %}
                            
                        {{ message.content|markdown|safe }}
                        <br>
                        <p class="gap-1">
                            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse{{ message.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ message.id }}">
                                ...
                            </a>                        
                        </p>
                        <div class="collapse" id="collapse{{ message.id }}">
                            <div class="">
                                {{ message.content|linebreaksbr }}
                            </div>
                        </div>
                        
                        {% else %}
                        --
                        {% endif %}
                    </div>
                </div>                    
            {% endfor %}
            
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form |crispy}}
            <input type="submit" value="Submit" class="btn btn-light my-2">
        </form>
        
    </div>
    
</div>
  
{% endblock content %}


{% comment %}
      
    <table class="table">
        <tr>
            <td>{{ model_name }}</td>
            {% for message in messages %}
            <td> {{ message.content|markdown|safe }} </td>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ai_message.usage_metadata}}</td>
            
        </tr>
        <tr>
            <td>{{ ai_message.id}}</td>
            <td>{{ ai_message.response_metadata.model_name }}</td>
            <td>{{ ai_message.response_metadata.completion_tokens }}</td>
            <td>{{ ai_message.response_metadata.prompt_tokens }}</td>
            <td>{{ ai_message.response_metadata.total_token }}</td>
            
            <td>
                {{ai_message.content|markdown|safe  }}
            </td>
        </tr>
        
    </table>
    <code>
        {% for item, value in ai_message %}
        {{ item }} | {{ value }}
        <hr>
        {% endfor %}
    </code>
{% endcomment %}