body {
    background-color: #382910;
    
    /* color:white; */
}
h1, h2, h3, h4, h5, h6 {
    color:#ff9c08 !important;
}
p, li {
    color:#d9b383 !important;
}
table, td, th {
    color:#d9b383 !important;
}
.text-brown-light {
    color:#d9b383 !important;
}
a {
    color: #7ba84a;
    /* text-decoration: None; */
}
a:hover {
    color: yellow;
}
a:visited {
    color: 7ba84a;
}
.bg-brown {
    background-color: #231b0e;
}
.btn-special {
    border: solid;
    border-radius: 3px;
    border-color: yellow;
    border-width: 1px;
    color: #d9b383;
    text-decoration: none;
    padding: 10px;
    background-color: #231b0e;
    box-shadow: 0 0 5px 3px rgba(255, 255, 0, 0.165);
    display: inline-block;
    
}
.btn-special:hover {
    background-color: #624728;
    /* background-color: #a8cacd; */
    color: yellow;
    text-decoration: none;
    box-shadow: 0 0 10px 3px rgba(255, 255, 0, 0.607);

}
.success-message {
    color: #7ba84a;
}
form label {
    color:#d9b383;
}
.image-bg {
    background-color: #624728 !important;
}
.image-projects {
    width: auto;
    height: 100%;
}
.image-projects-container {
    height: 15rem;
}
@media screen and (max-width:990px) {
    .image-projects {
        width: 75%;
        height: auto;
    }
}
@media screen and (max-width:750px) {
    .image-projects {
        width: 50%;
        height: auto;
    }
    .image-projects-container {
        height: 15rem;
    }
}

.diff-meter {
    width: 200px;
    height: 20px;
    padding: 0px 5px;
    background-image: linear-gradient(to right, darkred , lightgreen);
    display: flex;
}
.hard-text {
    margin-right: 115px;
}
.diff-marker{
    background-color: whitesmoke;
    height: 20px;
    width: 4px;
    display: inline;
    position: relative;
}