[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.1.4"
pillow = "*"
django-crispy-forms = "*"mi
django-rosetta = "0.9.3"
gunicorn = "*"
uvicorn = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
