[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.1.4"
pillow = "*"
django-crispy-forms = "*"
django-rosetta = "0.9.3"
gunicorn = "*"
uvicorn = "*"
psycopg2-binary = "*"
django-social-share = "*"
djangorestframework = "*"
drf-yasg = "*"
sentry-sdk = "*"
celery = "==5.3.6"
redis = "*"
django-cors-headers = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.12"
