{% extends "videos/_video_base.html" %}

{% load humanize i18n %}

{% block content %}

<h1>{{ page_title }}</h1>

<div>
    <a href="{% url 'videos:video_list' %}" class="btn btn-outline-success">Video list</a>
    <a href="{% url 'videos:new_file_upload' %}" class="btn btn-outline-success">Upload video</a>
    <a href="{% url 'videos:add_category' %}" class="btn btn-outline-success">Add category</a>
    
    {% if request.user.is_superuser %}
    <a href="{% url 'videos:file_upload' %}" class="btn btn-outline-success">rest</a>      
    {% endif %}
</div>
<table class="table table-stripped">
    <thead>
        <th>#</th>
        <th>name</th>
        <th>Is protected</th>
        <th>Website</th>
        
        <th>Download</th>
        <th>Size</th>
        <th>Stream</th>
        <th>category</th>
        <th>iFrame</th>
    </thead>
    <tbody>
        {% for video in videos %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ video.name }}</td>
            <td>{{ video.is_protected }}</td>
            <td>{{ video.website_header }}</td>
            {#<td><a href="{% url 'videos:video_details' video.id %}" target="_blank">{{ video.id }}</a></td>#}
            <td>{% if not video.is_protect %}<a href="{{ video.video_file.url  }}" download="">{{ video.video_file.name }}</a>{% endif %}</td>
            <td><span>{{ video.get_size | filesizeformat }}</span></td>
            <td><a href="{% url 'videos:video_stream' video.id  %}" target="_blank">Stream</a></td>
            <td>
                {% if video.category %}
                  
                <a href="{% url 'videos:category_view' video.category.id %}">
                    {{ video.category }}
                </a>
                {% endif %}
            </td>

            <td>
                <textarea id="{{ video.video_file.name }}"><iframe src="https://rahimagha.ir{{ video.video_file.url }}" title="{{ video.name }}" autoplay="false" allow="fullscreen"  referrerpolicy="no-referrer" height="600px" width="800px" style="border:none;"></iframe></textarea>
            </td>
            <td>
                <!-- The button used to copy the text -->
                <button onclick="myFunction(`{{ video.video_file.name }}`)" class="btn btn-sm btn-secondary">
                    <i class="fa-regular fa-copy"></i>
                </button>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}

{% block script %} 
<script>
function myFunction(v_name) {
    // Get the text field
    var copyText = document.getElementById(v_name);
    
    // Select the text field
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices
    
    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText.value);
    
    // Alert the copied text
    alert("iFrame code copied: " + v_name);
} 

</script>
{% endblock script %} 