{% load i18n %}
{% load static %}

<div class="p-2 container-fluid bg-dark border-top">
    <div class="row p-2">
     
      <div class="col-md-6 text-light px-4">
        <p class="lead">{% trans 'Rahim Agha' %}</p>
        <p>{% lorem 1 b random %}</p>
        
        
        <!-- <p>
          <a href="mailto:info@irancomputermuseum.org">info@irancomputermuseum.org/</a>
        </p> -->
      </div>
      

      <div class="col-md-6 text-light px-4">
        <p class="lead">HEADER</p>

        <div class="d-flex justify-content-between w-75">
          {% comment %} <a href="https://twitter.com/rahimagha">
            <!-- <i class="fab fa-telegram-plane"></i> -->
            <img src="{% static 'img/twitter.png' %}" alt="RahimAgha twitter logo">
          </a> {% endcomment %}
          <a href="https://linkdin.com/">
            <img src="{% static 'img/linkdin.png' %}" alt="RahimAgha linkdin logo">
            <!-- <i class="fab fa-instagram"></i> -->
          </a>
          <a href="https://github.com/">
            <img src="{% static 'img/instagram.png' %}" alt="RahimAgha github logo">
            <!-- <i class="fab fa-twitter"></i> -->
          </a>

        </div>

      </div>
    </div>
  </div>
  <!-- <div class="row bg-dark text-center">
    <p class="text-light pt-3">{% trans 'Iran Computer Museum'%} 1401</p> -->
</div>