{% load i18n %}
{% load static %}

<div class="p-2 container-fluid bg-brown border-top">
    <div class="row p-2">
     
      <div class="col-md-6 text-light px-4">
        <p class="lead">{% trans 'Rahim Agha' %}</p>
        <p>{% lorem 1 b random %}</p>
        
        
        <!-- <p>
          <a href="mailto:info@irancomputermuseum.org">info@irancomputermuseum.org/</a>
        </p> -->
      </div>
      

      <div class="col-md-6 text-light px-4">
        <p class="lead">{% trans "Links" %}</p>

        <div class="d-flex justify-content-start w-75">          
          <a href="https://github.com/rahimz/" target="_blank" rel="nofollow">
            <img src="{% static 'img/github-mark-white.png' %}" width="30rem" height="auto"  alt="Rahim github logo">            
          </a>
          <a href="https://www.linkedin.com/in/rahim-aghareb-5714bb85/" target="_blank" rel="nofollow">            
            <img src="{% static 'img/In-White-96.png' %}" width="30rem" height="auto" class="ms-4"  alt="Rahim linkdin logo">            
          </a>
        </div>
        <p class="mt-3"><a href="mailto:hi@rahimagha.ir">hi@rahimagha.ir</a></p>

      </div>
    </div>
  </div>
  <!-- <div class="row bg-dark text-center">
    <p class="text-light pt-3">{% trans 'Iran Computer Museum'%} 1401</p> -->
</div>