{% if messages %}    
    {% for message in messages %}    
    <div  class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            {% comment %} <span aria-hidden="true">&times;</span> {% endcomment %}
        </button>
    
    </div>

    {% endfor %}


{% endif %}
{% block script %}

{% comment %} setTimeout(function(){$('.alert').alert('close')}, 2000) {% endcomment %}
{% endblock script %}