{% extends '_base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<style>
    .cropped {
        width: 300px; 
        height: 300px; 
        object-fit: cover;
        object-position: 100% 100%; 
    }
</style>
{% endblock head %}
{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
<div class="container bg-dark text-light    ">
    <!-- <div class="row">
        <form action="">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="SwitchNight" name="SwitchNight">
                <label class="form-check-label" for="SwitchNight">Night</label>
                <input type="submit" value="submit">
              </div>
        </form>
    </div> -->
    <div class="row" id="bookstore">
        <h2>{% trans "Bookstore solution" %}</h2>
        <div class="col-md-12">
            <div class="bg-dark text-light p-4">
                <div class="rounded">
                    <img src="{% static 'img/staff_home_bookstore.png' %}" alt="bookstore home page" width="100%" height="auto">
                </div>
                    <h4>{% trans "What is bookstore solution?" %}</h4>
                    <p>
                        {% lorem 1 b random %}
                    </p>
                    <h4>{% trans "Features" %}</h4>
                    <p>
                        {% lorem 1 b random %}
                    </p>

                </div>
        </div>

    </div>
    <div class="row py-5" id="projects">
        <h2>{% trans "Projects" %}</h2>
        {% for project in '12' %}
        <div class="col-md-6">
            <div class="bg-dark text-light text-center p-4">

                <img class="cropped" src="{% static 'img/staff_home_bookstore.png' %}" alt="">
                <h4>Project - {{ project }}</h4>
                <p>{% lorem 1 b random %}</p>
            </div>                
        </div>          
        {% endfor %}
        
    </div>    
    <div class="row">

        {% for project in '12' %}
        <div class="col-md-6">
            <div class="bg-dark text-light text-center p-4">
                
                <img class="cropped" src="{% static 'img/staff_home_bookstore.png' %}" alt="">
                <h4>Project - {{ project }}</h4>
                <p>{% lorem 1 b random %}</p>
            </div>                
        </div>          
        {% endfor %}
    </div>
    <div class="row py-5" id="resume">
        <h2>{% trans "Resume" %}</h2>
        <p>{% lorem 3 b random %}</p>
    </div>
        
</div>
{% endblock content %}