{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock head %}
{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
<div class="container bg-brown " >
    <h2 class="pt-4">{% trans "Book quiz" %}</h2>
    <div class="row py-5" id="">
        <div class="col">
            {% if required_msg %}
            <p class="lead text-danger bg-light">{{ required_msg }}</p>
              
            {% endif %}
            <div class="d-flex">
                <p class="lead">{% trans "Question" %}: {{ step }}</p>
                <div class="ms-3 fs-6 diff-meter rounded">
                    <span class="rounded">ساده</span>
                    <span class="diff-marker" 
                    {% if question.difficulty == 1 %}
                    style="right: 5px;"                      
                    {% elif question.difficulty == 2 %}
                    style="right: 30px;"                      
                    {% elif question.difficulty == 3 %}
                    style="right: 60px;"                      
                    {% elif question.difficulty == 4 %}
                    style="right: 90px;"                      
                    {% elif question.difficulty == 5 %}
                    style="right: 112px;"                      
                    {% endif %}
                    
                    
                    ></span>
                    <span class="hard-text rounded text-light">سخت</span>
                </div>
            </div>
                {% for item in '12345' %}
                  
                {% endfor %} 
            <p class="lead">{{ question.description }}</p>
            <form action="" method="POST" onsubmit="subButton.disabled = true; return true;">
                {% csrf_token %}                
                {% for ans in answers %}
                <div class="form-check" action="">
                    <input class="form-check-input" type="radio" name="answer" value="{{ ans }}" id="answer-{{ forloop.counter }}" 
                    {% if forloop.counter == 1 %}required{% endif %}
                    >
                    <label class="form-check-label" for="answer-{{ forloop.counter }}">
                        {{ ans }}
                    </label>
                    
                </div>
                {% endfor %}
                {% if step < 6 %}
                <input type="submit" name="next" value="{% trans 'Next' %}" id="subButton" disabled="disabled" class="btn btn-warning my-3">
                {% else %}
                <input type="submit" name="result" value="{% trans 'Result' %}" id="subButton" disabled="disabled" class="btn btn-warning my-3">
                {% endif %}
                  
            </form>
            
        </div>
    </div>
        
</div>
{% endblock content %}

{% block script %}
<script>
    window.addEventListener("load", function() {
        document.getElementById("subButton").disabled=false; // or removeAttribute("disabled")
    }
)
</script>
  
{% endblock script %}
