{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock head %}
{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
<div class="container bg-brown " >
    <h2 class="pt-4">{% trans "Question list" %}</h2>
    <div class="row py-5" id="question-list">
        <div class="col">
            <a href="{% url 'quizes:question_create' %}" class="btn btn-warning my-2">{% trans "New question" %}</a>
            <a href="{% url 'quizes:my_quiz' %}" class="btn btn-warning my-2">{% trans "New Quiz" %}</a>
            <table class="table">
                <tbody>
                    {% for que in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ que }}</td>
                        <td>{{ que.difficulty }}</td>                        
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        
        </div>
    </div>
        
</div>
{% endblock content %}