{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock head %}
{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
<div class="container bg-brown " >
    <h2 class="pt-4">{% trans "Question list" %}</h2>
    <form action="">
        <div class="input-group mb-3">            
            <input class="form-control" type="text" name="search" id="search"
            aria-label="Search button" aria-describedby="button-addon1" autofocus="on"
            >
            <button class="btn btn-outline-light" type="submit" id="button-addon1">
                {% trans 'Search' %}
            </button>      
        </div>
        {% if results %}
          {% for item in results %}
          {% if compliment %}
          <a href="{% url 'quizes:compliment_update' item.id %}" class="bg-light p-1 m-2">{{ item }}</a>
            {% else %}
          <a href="{% url 'quizes:question_update' item.id %}" class="bg-light p-1 m-2">{{ item }}</a>
          {% endif %}
          {% endfor %}
        {% endif %}      
    </form>
    {% if query %}
    {% if compliment %}
    <p>{{ query }} <a href="{% url 'quizes:compliment_list' %}" class="text-light fs-5 ms-3">&times;</a></p>
    {% else %}
    <p>{{ query }} <a href="{% url 'quizes:questions_list' %}" class="text-light fs-5 ms-3">&times;</a></p>
    {% endif %}
      
    {% endif %}
    <div class="row py-5" id="question-list">
        <div class="col">
            <a href="{% url 'quizes:question_create' %}" class="btn btn-warning my-2">{% trans "New question" %}</a>
            <a href="{% url 'quizes:questions_list' %}" class="btn btn-warning my-2">{% trans "Question list" %}</a>
            <a href="{% url 'quizes:compliment_create' %}" class="btn btn-warning my-2">{% trans "New compliment" %}</a>
            <a href="{% url 'quizes:compliment_list' %}" class="btn btn-warning my-2">{% trans "Compliment list" %}</a>
            <a href="{% url 'quizes:update_question_report' %}" class="btn btn-warning my-2">{% trans "Update question report" %}</a>
            <a href="{% url 'quizes:my_quiz' %}" class="btn btn-warning my-2">{% trans "New Quiz" %}</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans "Question" %}</th>
                        <th>{% trans "Difficulty" %}</th>
                        <th>{% trans "Published" %}</th>
                        <th>{% trans "Link" %}</th>
                        <th>{% trans "Uses" %}</th>
                        <th>{% trans "Correct" %}</th>
                        <th>{% trans "Wrong" %}</th>
                        <th>{% trans "Correct percent" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for que in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {% if compliment %}
                            <a href="{% url 'quizes:compliment_update' que.id %}">{{ que }}</a></td>
                            {% else %}
                            <a href="{% url 'quizes:question_update' que.id %}">{{ que }}</a></td>
                            {% endif %}
                        <td>{{ que.difficulty }}</td>                        
                        
                        {% if que.published %}
                        <td class="text-success fs-5">&check;</td>                        
                        {% else %}
                        <td class="text-danger fs-5">&times;</td>                        
                        {% endif %}
                        
                        {% if que.link %}
                        <td class="text-success fs-5">&check;</td>                        
                        {% else %}
                        <td class="text-danger fs-5">&times;</td>                        
                        {% endif %}
                        <td>{% if que.uses %}{{ que.uses }}{% endif %}</td>
                        <td>{% if que.correct_responses %}{{ que.correct_responses }}{% endif %}</td>
                        <td>{% if que.no_response %}{{ que.no_response }}{% endif %}</td>
                        <td>{{ que.get_correct_percent }}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        
        </div>
    </div>
        
</div>
{% endblock content %}